.metadata/
build/
src/main/webapp/_wpack_/
~$*

# .settings: 프로젝트 정의 config 만 추적, 나머지(캐시/썸네일/런타임)는 제외
.settings/*
!.settings/.jsdtscope
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.wst.common.component
!.settings/org.eclipse.wst.common.project.facet.core.xml
!.settings/org.eclipse.wst.jsdt.ui.superType.container
!.settings/org.eclipse.wst.jsdt.ui.superType.name
!.settings/w5regex.conf
